// VARS
// ----
$static-url : 'dist/assets/img/'

$width: 1230px
$porcentaje: 100%
$textarea: 722px
$img: 508px

// Colors idendity
$blanco: #fff
$negro: #000

$c-0: #98959b
$c-1: #004e90
$c-2: #003a5c
$c-3: #88d7ec
$c-4: #00b0c9
$c-5: #f8f8f9
$c-6: #92999f
$c-7: #f9f9fa
$c-8: #13508e


// Fonts
$t-0: 'Montserrat-Light', sans-serif
$t-1: 'Montserrat-Regular', sans-serif
$t-2: 'Montserrat-Medium', sans-serif
$t-3: 'Montserrat-SemiBold', sans-serif
$t-4: 'Montserrat-Bold', sans-serif
$t-5: 'open_sansregular', sans-serif
$t-6: 'OpenSans-ExtraBold', sans-serif

$icomoon: 'icomoon'

// Mixins
=placeholder($color,$famyli)
	-webkit-input-placeholder
		color: $color
		font-family: $famyli
	-moz-placeholder
		color: $color
		font-family: $famyli
	-moz-placeholder
		color: $color
		font-family: $famyli
	-ms-input-placeholder
		color: $color
		font-family: $famyli

transition-all()
	transition all 0.25s
	
cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
.cf
	cf()

backgroundsize()
	background-repeat no-repeat
	background-size cover
	background-position center center 		

img-res()
	width 100%
	height auto
	display block