.footer
	background: $c-6
	margin: 0 0
	padding: 40px 0
.footer-middle
	.container
		padding-bottom: 40px
		border-bottom: 1px solid $blanco
.footer-pad
	color: $blanco
	text-align: center
	font-size: 14px
	h4
		font-size: 16px
		font-weight: normal
		color: $blanco
		font-family: $t-1
		margin: 0 0 10px 0
	p
		margin: 0
		font-size: 14px
		line-height: 1.1
	a
		color: $blanco
.socials-ctn
	display: flex
	justify-content: center
	a
		width: 35px
		height: 35px
		position: relative
		font-size: 12px
		line-height: 35px
		margin-right: 10px
		&:after
			position: absolute
			top: 0
			left: 0
			content: "\e912"
			width: 100%
			height: 100%
			font-size: 32px
			opacity: 0
			transition: all .4s ease-in-out
		&:last-child
			margin-right: 0
.footer-bottom
	color: $blanco
	padding-top: 15px
.footer-logo
	font-size: 33px
	a
		color: $blanco
.footer-creditos
	padding-top: 10px
	text-align: right
	font-size: 12px
	font-family: $t-5
	p 
		margin: 0
		a 
			color: $blanco
@media screen and (min-width: 1025px)
	.socials-ctn 
		a:hover
			&:after
				opacity: 1
	.footer-pad, .footer-creditos, .footer-logo
		a:hover
			text-decoration: none
@media screen and (max-width: 991px)
	.footer-redes, .footer-logo
		display: none
	.footer-creditos
		text-align: center
@media screen and (max-width: 767px)
	.footer
		padding: 20px 0
	.footer-middle
		.container
			padding-bottom: 20px
			.row
				justify-content: center
	.footer-ctn-sub
		margin-bottom: 20px
		&:nth-child(3)
			margin-bottom: 0
@media screen and (max-width: 480px)
	.footer-ctn-sub
		max-width: 100% 
		flex: 0 0 100%