.navbar
	height: 76px
	padding: 0 
	box-sizing: border-box
.nav-bar-ctn
	display: flex
	justify-content: space-between
	max-width: 1200px
	padding: 0 15px
	box-sizing: border-box
	align-items: center
	width: 100%
	margin: auto
	height: 100%
.nav-bar-fixed
	height: 75px
	position: fixed
	left: 0
	width: 100%
	top: 0
	border-bottom: 1px solid $c-6
	background: $blanco
	z-index: 999
.navbar-dark .navbar-nav .nav-link
	color: $c-6
	padding: 0
	opacity: .8
	position: relative
	font-size: 15px
	padding-bottom: 5px
	font-family: $t-1
	transition: opacity 0.2s linear,color 0.2s linear
	&:before
		display: block
		width: 100%
		content: ""
		border-top: 1px solid $c-8
		position: absolute
		bottom: 0
		left: 0
		transform: scaleX(0)
		transition: transform .3s ease-out,border-color .3s ease-out
.navbar-dark .navbar-brand
	color: $c-6
.nav-item
	margin: 0 40px 0 0
	&.active
		.nav-link
			color: $c-8 !important
			opacity: 1
			&:before
				transform: scaleX(1)
	&:last-child
		margin-right:  0
.nav-bar-socials
	display: flex
	a
		color: $c-8
		margin-right: 30px
		font-size:  17px
		&:last-child
			margin-right: 0
		&:before
			transition: all .4s ease-in-out
.navbar-brand
	margin: 0
.navbar-dark .navbar-toggler
	color: rgba(19, 79, 142, .8)
	border-color: $c-8
	padding: .3rem
.nav-responsive
	position: fixed
	height: 100%
	width: 100%
	right: 0
	top: 0
	max-width: 300px
	background: $blanco
	transform: translateX(100%)
	opacity: 0
	transition: all .3s linear
	padding: 15px
	box-sizing: border-box
	visibility: hidden
	z-index: 1000
	&.active
		transform: translateX(0)
		opacity: 1
		visibility: visible
	.icon-close
		position: absolute
		top: 15px
		right: 15px
		color: $c-8
		font-size: 20px
		cursor: pointer
.bg-nav
	position: fixed
	height: 100%
	width: 100%
	top: 0
	left: 0
	background: $negro
	opacity: 0
	visibility: hidden
	transition: all .3s ease
	&.active
		z-index: 999
		opacity: .8
		visibility: visible
.ctn-menu-responsive
	position: relative
	width: 100%
.menu-responsive	
	margin: 15px 0 0 0
	.nav-bar-socials
		display: block
		margin-top: 10px
		text-align: center
.logo-responsive
	max-width: 100px
	margin-top: 40px
body.active
	overflow: hidden
@media screen and (min-width: 1025px)
	.navbar-dark .navbar-nav .nav-link:hover
		opacity: 1
		color: $c-8
		&:before
			transform: scaleX(1)
	.nav-bar-socials a:hover
		color: $c-4
		text-decoration: none
@media screen and (max-width: 990px)
	a:hover
		color: inherit
	.nav-bar-socials
		display: none
	.navbar-dark .navbar-collapse
		display: none
	.nav-item
		margin-right: 0
		margin-bottom: 10px
		.nav-link
			display: block
			color: $c-8
			padding: 0 10px 10px 10px
			border-bottom: 1px solid $c-8
@media screen and (max-width: 640px)
	.navbar-dark .navbar-brand
		max-width: 100px
	.navbar-dark .navbar-toggler
			padding: .2rem
	.navbar
		height: 56px;
	.nav-bar-fixed
		height: 55px
@media screen and (max-width: 480px)
	.nav-responsive
		max-width: 280px