@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon.eot?oxmp7f')
  src: url('../fonts/icomoon.eot?oxmp7f#iefix') format("embedded-opentype"), url('../fonts/icomoon.ttf?oxmp7f') format("truetype"), url('../fonts/icomoon.woff?oxmp7f') format("woff"), url('../fonts/icomoon.svg?oxmp7f#icomoon') format("svg")
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-a-left:before
  content: "\e915"

.icon-correo:before
  content: "\e900"

.icon-telefono:before
  content: "\e901"

.icon-pin:before
  content: "\e902"

.icon-cruce-manos:before
  content: "\e903"

.icon-medalla:before
  content: "\e904"

.icon-a-right:before
  content: "\e905"

.icon-escudo:before
  content: "\e906"

.icon-brazo:before
  content: "\e907"

.icon-reloj:before
  content: "\e908"

.icon-comillas-left:before
  content: "\e909"

.icon-candado:before
  content: "\e90a"

.icon-pantalla:before
  content: "\e90b"

.icon-play:before
  content: "\e90c"

.icon-a-down:before
  content: "\e90d"

.icon-tw:before
  content: "\e90e"

.icon-in:before
  content: "\e90f"

.icon-fb:before
  content: "\e910"

.icon-yt:before
  content: "\e911"

.icon-aro:before
  content: "\e912"

.icon-mensaje:before
  content: "\e913"

.icon-logo:before
  content: "\e914"

.icon-staff:before
  content: "\e60e"

.icon-envelope:before
  content: "\e61d"

.icon-close:before
  content: "\e605"

.icon-social-facebook:before
  content: "\e603"

.icon-social-twitter:before
  content: "\e604"

.icon-menu:before
  content: "\e602"

.icon-arrow-right:before
  content: "\e606"

.icon-arrow-left:before
  content: "\e607"

.icon-arrow-down:before
  content: "\e608"

.icon-arrow-up:before
  content: "\e609"

.icon-search:before
  content: "\e612"

.icon-location:before
  content: "\e600"

.icon-phone:before
  content: "\e60a"
  color: #444

.icon-youtube:before
  content: "\e601"