footer.footer(role='contentinfo')
  .footer-middle
    .container
      .row
        .col-lg-3.col-md-4.col-sm-4.col-6.footer-ctn-sub
          // Column1
          .footer-pad
            h4 Ubicanos
            p Av. Lorem Impsun 930 806 -<br> Magdalena del mar
        .col-lg-3.col-md-4.col-sm-4.col-6.footer-ctn-sub
          // Column1
          .footer-pad
            h4 Central Telefónica  
            p 
              a(href='tel:015555555') (01) 555 5555
            p Celular:  
              a(href='tel:999999999') 999 999 999
        .col-lg-3.col-md-4.col-sm-4.col-6.footer-ctn-sub
          // Column1
          .footer-pad
            h4 Correo Electrónico
            p 
              a(href='mailto:info@exact.pe') info@exact.pe
        .col-lg-3.col-md-4.col-sm-6.footer-redes
          // Column1
          .footer-pad
            h4 Redes Sociales
            .socials-ctn
              a(class = 'icon-yt', href='')
              a(class = 'icon-tw', href='')
              a(class = 'icon-in', href='')
              a(class = 'icon-fb', href='')
  .footer-bottom
    .container
      .row
        .col-lg-4.footer-logo
            a(class = 'icon-logo', href='')
        .col-lg-8.col-12.footer-creditos
          // Footer Bottom
          p.text-xs-center EXACT - Todos los derechos reservados. - Diseño Web por 
            a(href='') StaffDigital
