nav.navbar.navbar-expand-lg.navbar-dark
  .nav-bar-fixed
    .nav-bar-ctn
      a.navbar-brand
        img(src=`${STATIC_URL}img/logo-header.png` width="158" height="33" alt="Exact" class='img-fluid')
      #navbarColor01.collapse.navbar-collapse.mr-auto
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='nosotros.html')
              | Nosotros 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='soluciones.html') Soluciones
          li.nav-item
            a.nav-link(href='#') Noticias
          li.nav-item
            a.nav-link(href='contacto.html') Contacto
      .nav-bar-socials
        a(class = 'icon-yt', href='') 
        a(class = 'icon-tw', href='') 
        a(class = 'icon-in', href='') 
        a(class = 'icon-fb', href='') 
      button.navbar-toggler.icon-menu(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
.nav-responsive
  span.icon-close
  .ctn-menu-responsive
    .a.logo-responsive
        img(src=`${STATIC_URL}img/logo-header.png` width="158" height="33" alt="Exact" class='img-fluid')
    .menu-responsive
.bg-nav
