extends ./_common/base.pug

block content


	section.b2
		.b2-banner
			.b2-banner-cnt.wancho
				.b2-banner-title
					figure.b2-banner-imgtitle
						img(src=`${ STATIC_URL }img/b2-img-title.png`, width='190', height='204', alt='')
					h2 Escríbenos y nos Contactaremos
		main.b2-main
			.b2-content.wancho
				.b2-formulario
					.b2-text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .
					form#form-contacto
						ul
							li
								.b2-itm.b2-full
									label(for='') Nombres y APellidos:
									input(type='text', class='validate[required]')
							li
								.b2-itm
									label(for='') Correo Electrónico:
									input(type='text', class='validate[required,custom[email]]')
								.b2-itm
									label(for='') Teléfono:
									input(type='text', class='validate[required]')
							li
								.b2-itm.b2-full
									label(for='') Mensaje:
									textarea(name='', id='', class='validate[required]')
						.b2-btn
							button.btn-enlace
								span ENVIAR
				.b2-boxright
					.b2-title-right
						h3 Contáctanos
					.b2-cnt-list
						.b2-itemlist
							span.b2-list-icon.icon-telefono
							.b2-list-text
								h3 Llámanos al:
								p
									a(href='tel:015555555') (01) 555 5555
								p
									a(href='999999999') Celular: 999 999 999
						.b2-itemlist
							span.b2-list-icon.icon-correo
							.b2-list-text
								h3 Escríbenos al:
								p
									a(href='mailto:info@exact.pe') info@exact.pe
						.b2-itemlist
							span.b2-list-icon.icon-pin
							.b2-list-text
								h3 Ubícanos en:
								p Av. Lorem Impsun 930 806 - Magdalena del mar
		.b18map
			.cnt-map
				span.btn-enlace.abrir-map
					span Abrir mapa
				.box-map
					#google-maplima.map
					span.btn-enlace.cerrar-map
						span cerrar mapa
append scripts
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		function initMap() {
			var $map = $( '#google-maplima' );
			if ( ! $map.length ) return;
			var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
			var styles = [
				{
					"featureType": "all",
					"elementType": "all",
					"stylers": [
						{
							"hue": "#0087ff"
						},
						{
							"visibility": "on"
						}
					]
				},
				{
					"featureType": "all",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"visibility": "on"
						},
						{
							"hue": "#0087ff"
						}
					]
				},
				{
					"featureType": "all",
					"elementType": "labels",
					"stylers": [
						{
							"visibility": "on"
						},
						{
							"weight": "2.30"
						},
						{
							"color": "#ff0000"
						}
					]
				},
				{
					"featureType": "all",
					"elementType": "labels.text",
					"stylers": [
						{
							"weight": "5.91"
						},
						{
							"visibility": "on"
						},
						{
							"color": "#ff0000"
						}
					]
				},
				{
					"featureType": "all",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#357cbb"
						},
						{
							"visibility": "on"
						},
						{
							"weight": "5.79"
						},
						{
							"gamma": "1.76"
						},
						{
							"lightness": "-47"
						}
					]
				},
				{
					"featureType": "all",
					"elementType": "labels.text.stroke",
					"stylers": [
						{
							"color": "#1e73be"
						},
						{
							"weight": "3.15"
						},
						{
							"lightness": "100"
						},
						{
							"visibility": "on"
						},
						{
							"gamma": "1.64"
						}
					]
				},
				{
					"featureType": "all",
					"elementType": "labels.icon",
					"stylers": [
						{
							"color": "#1e73be"
						},
						{
							"visibility": "off"
						}
					]
				},
				{
					"featureType": "administrative.land_parcel",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"visibility": "off"
						},
						{
							"color": "#ff0000"
						}
					]
				},
				{
					"featureType": "landscape",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"visibility": "on"
						},
						{
							"hue": "#0087ff"
						}
					]
				},
				{
					"featureType": "landscape.man_made",
					"elementType": "all",
					"stylers": [
						{
							"visibility": "on"
						},
						{
							"hue": "#0087ff"
						}
					]
				},
				{
					"featureType": "landscape.natural",
					"elementType": "all",
					"stylers": [
						{
							"visibility": "on"
						},
						{
							"hue": "#00fff6"
						}
					]
				},
				{
					"featureType": "landscape.natural",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"visibility": "off"
						}
					]
				},
				{
					"featureType": "landscape.natural.landcover",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"visibility": "on"
						},
						{
							"hue": "#ff0000"
						}
					]
				},
				{
					"featureType": "landscape.natural.landcover",
					"elementType": "geometry.stroke",
					"stylers": [
						{
							"visibility": "on"
						},
						{
							"hue": "#0087ff"
						}
					]
				},
				{
					"featureType": "landscape.natural.terrain",
					"elementType": "all",
					"stylers": [
						{
							"visibility": "on"
						}
					]
				},
				{
					"featureType": "landscape.natural.terrain",
					"elementType": "geometry",
					"stylers": [
						{
							"visibility": "on"
						},
						{
							"hue": "#0087ff"
						}
					]
				},
				{
					"featureType": "landscape.natural.terrain",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"visibility": "on"
						},
						{
							"hue": "#0087ff"
						}
					]
				},
				{
					"featureType": "landscape.natural.terrain",
					"elementType": "labels.icon",
					"stylers": [
						{
							"hue": "#0087ff"
						},
						{
							"visibility": "on"
						}
					]
				}
			]
			var mapOptions = {
				zoom             : 15,
				center           : myLatlng,
				mapTypeControl   : true,
				disableDefaultUI : true,
				zoomControl      : true,
				scrollwheel      : false,
				styles           : styles,
				draggable        : true
			}
			map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

			marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:`assets/img/logo-pin.png`
			});
		}

		google.maps.event.addDomListener(window, 'load', initMap);

		$(".cnt-map .abrir-map").click(function(event) {
			$(".box-map").addClass('anima-map');
		});

		$(".cnt-map .cerrar-map").click(function(event) {
			$(".box-map").removeClass('anima-map');
		});
