extends ./_common/base.pug

block content
	section.home
		.homeslider
			ul.bxsliderHome
				- for (var x = 0; x < 6; x++)
					li.homeitm(style=`background-image: url('${ STATIC_URL }img/home-banner.jpg');`)
						.homecenter
							.homeflex
								h2
									| Gestión  Documental 
									br
									|  Inteligente
								p
									| Lorem ipsum dolor sit amet, posuere suspendisse consequat 
									br
									|  id aliquam in pede, nulla suspendisse,
								.homebtn
									a.btn-enlace(href='')
										span Conócenos
		.svgloader.desktop
			svg.progress(width='120', height='120', viewbox='0 0 120 120')
				circle.circlefill(cx='60', cy='60', r='54', fill='none', stroke='#e6e6e6', stroke-width='12')
				circle.progress__value(cx='60', cy='60', r='54', fill='none', stroke='#f77a52', stroke-width='12')
		.homeblockdown
			a.homedown(href='')


	section.home-information
		.homecontainer
			.homectnimg
				figure.homeimg
					img(src=`${ STATIC_URL }img/home-img-block2.jpg`, width='595', height='408', alt='')
			.home-cnt-info
				.homeboxinner
					h2 Somos tu mejor opción
					.hometxt
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					.homebtninfo
						a.btn-enlace(href='#')
							span Conócenos

	section.home-box
		.homevideo
			.homeboxvideo
				.homecontenido
					h2
						span.homespan 20
						|  Años de Experiencia y Calidad
					p
						| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
				.homeinnervideo.videoGallery
					a.homeportadavideo(href='https://www.youtube.com/watch?v=meBbDqAXago')
						img(src=`${ STATIC_URL }img/home-video-img.jpg`, width='537', height='291', alt='')
			.homecnt2
				figure.homefig
					img(src=`${ STATIC_URL }img/home-sec3-img.png`, width='650', height='640', alt='')

	section.homesoluciones
		.homebody(style='background-image: url(https://placeimg.com/665/666/any);')
			.homecenterflex
				h2 Nuestras Soluciones
				p
					| Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
					br
					|  accusantium doloremque laudantium, totam rem aperiam.
		.homeitems
			each val in [1,2,3]
				.homeitminner
					figure.homeimgsluc
						img(src='https://placeimg.com/240/240/any', width='240', height='240', alt='')
						a.home--capa(href='')
							.a-home Ver Más
					h2 TECNOLOGÍA
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem..

	section.homelogos
		.homecenterlg
			h2 Principales Clientes
			.homeslidlog
				ul.pitcher-carousel
					each val in [1,2,3,4,5,6,7]
						li
							img(src=`${ STATIC_URL }img/logo-marcas.jpg`, width='117', height='117', alt='')


	section.home-inner
		.homeblock
			.homeblog
				span.home-m
				h2 Mantente Informado
				p Conoce nuestro blog y informate.
			.homeright
				h3 28 JUL
				h2 What is Lorem Ipsun?
				p
					| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
				.homerightbtn
					a.btn-enlace(href='')
						span Ver Más
