extends ./_common/base.pug

block content
	button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModalLong')
		| Launch demo modal

	.modal-body
		.container-fluid
			.row
				.col-md-4 .col-md-4
				.col-md-4.ml-auto .col-md-4 .ml-auto
			.row
				.col-md-3.ml-auto .col-md-3 .ml-auto
				.col-md-2.ml-auto .col-md-2 .ml-auto
			.row
				.col-md-6.ml-auto .col-md-6 .ml-auto
			.row
				.col-sm-9
					| Level 1: .col-sm-9
					.row
						.col-8.col-sm-6
							| Level 2: .col-8 .col-sm-6
						.col-4.col-sm-6
							| Level 2: .col-4 .col-sm-6