extends ./_common/base.pug
block content
	main
		.ctn-nosotros-one-ctn
			.gris.container-fluid
			.container
				.ctn-nosotros-one
					.row
						.ctn-nosotros-info.col-md-6.col-sm-12
							.nosotros-title
								span.solution-title-prin S
								.solution-text 
									h3 Somos tu mejor opción
								.nosotros-parraf.videoGallery
									p Lorem ipsum dolor sit amet, integer eu massa, sed metus nec non, amet nec quis maecenas ante. Scelerisque ac diam wisi lectus, pede consequat dui ac ut aliquet tempor, nunc neque orci feugiat praesent nullam, torquent amet amet venenatis odio vel sit, diam mollis posuere eu.
									a(class = 'btn-enlace', href='https://www.youtube.com/watch?v=meBbDqAXago') 
										span Ver Video 
						.ctn-nosotros-img.col-md-6.col-sm-12
							figure
								img(src=`${STATIC_URL}img/img-nosotros.jpg` width="544" height="654" alt="Nosotros" class='img-fluid')
				.ctn-nosotros-two 
					.row
						.ctn-mv-prin.col-lg-8
							.row
								.col-lg-6.mision 
									h4 misión 
									p Lorem ipsum dolor sit amet, integer eu massa, sed metus nec non, amet nec quis maecenas ante. Scelerisque ac diam wisi lectus, pede consequat.
								.col-lg-6.vision 
									h4 visión
									p Lorem ipsum dolor sit amet, integer eu massa, sed metus nec non, amet nec quis maecenas ante. Scelerisque ac diam wisi lectus, pede consequat.


							
				.ctn-nosotros-three
					.row
						.ctn-valors-title.col-12
							h5 Valores que nos Representan
						.ctn-items-valors.col-12
							.row
								- for (var x = 0; x < 4; x++)
									.ctn-item.col-lg-3.col-sm-6.col-12
										.item-nosotros
											span.icon-cruce-manos
											h6 Respeto
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
				.ctn-nosotros-four
					.row
						.col-12.ctn-tests
							.row
								.test-info.col-lg-7.col-sm-12
									.solution-title
										span.solution-title-prin E
										.solution-text 
											h3 Ellos nos Respaldan
									.slider-test 
										ul.slider-nosotros
											- for (var x = 0; x < 4; x++)
												li.item-test
													.test-parraf
														p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
														h4 Tamara Gonsales
								.test-img.col-lg-6
									figure
										img(src=`${STATIC_URL}img/img-testimonios.jpg` width="517" height="436" alt="Beneficios" class='img-fluid')

				.ctn-nosotros-carrousel
					.row
						.col-12
							ul.nosotros-carousel
								- for (var x = 0; x < 9; x++)
									li 
										img(src=`${STATIC_URL}img/img-carrousel-nosotros.png` width="117" height="51" alt="Beneficios" class='img-fluid')