extends ./_common/base.pug

block content

	- var page = ['solutions']	
	div(class=page)
		section.banner
			.banner-content
				article.banner-textarea
					.banner-title
						h2 Lorem ipsum dolor ist amet, <br>integer eu massa
		main.main
			- for (var x = 0; x < 3; x++)
				section.block
					div.content
						article.textarea
							.title
								span.number 0#{x+1}
								h2 TECNOLOGÍA
							.text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
							a.btn-enlace(href="solucion-detalle.html")
								span Ver Más 
						figure.img
							img(src=`${STATIC_URL}img/solutions-img-${x+1}.jpg`, width="508", height="508", alt="foto-1", title="solution-1")
