.formError
  .formErrorContent
    background-color: $c-1 !important
    color: $blanco !important
    border: none !important
    font-size: 13px !important
    font-family: $t-1 !important
  .formErrorArrow
    div
      background-color: $c-1 !important
      color: $blanco !important
      border: none !important
      font-size: 13px !important
      font-family: $t-1 !important
    .line1, .line2
      display: none !important

.b2 .wancho
  max-width: 1084px

.b2-banner
  width: 100%
  height: 175px
  background: $c-7

.b2-banner-title
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: center
  width: calc(100% - 456px)
  height: 204px
  position: relative
  bottom: -30px
  box-sizing: border-box
  padding-right: 30px
  h2
    color: $c-1
    font-family: $t-1
    font-size: 28px
    font-weight: normal
    position: relative
    z-index: 2
    margin-bottom: 0

.b2-main
  margin-bottom: 110px

.b2-banner-imgtitle
  width: 190px
  position: absolute
  top: 0
  left: -20px

.b2-content
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start

.b2-formulario
  width: calc(100% - 456px)
  box-sizing: border-box
  padding-top: 100px
  padding-right: 130px
  ul
    margin-bottom: 55px
  li
    font-size: 0
    margin-bottom: 40px
    &:last-child
      margin-bottom: 0

.b2-text
  line-height: 1.2
  color: $c-0
  font-family: t-0
  font-size: 17px
  margin-bottom: 40px
  p
    margin-bottom: 0

.b2-itm
  width: 48%
  display: inline-block
  vertical-align: top
  position: relative
  text-align: left
  &.active
    &:after, &:before
      width: 100%
    label
      top: -15px
      transform: translateY(0)
  &:before, &:after
    content: ''
    width: 0
    height: 1px
    display: block
    position: absolute
    bottom: 0
    transition: width 0.8s cubic-bezier(0.694, 0.048, 0.335, 1)
  &:before
    transition-delay: 0.1s
    z-index: 10
    background: $c-1
  &:after
    background: $c-1
  label
    position: absolute
    top: 50%
    left: 0px
    transform: translateY(-50%)
    font-size: 14px
    color: $c-0
    transition: all 0.4s
  input
    color: $c-0
    box-sizing: border-box
    font-size: 15px
    width: 100%
    height: 40px
    border: none
    background: none
    position: relative
    border-bottom: 1px solid $c-0
    padding: 0
  textarea
    color: $c-0
    box-sizing: border-box
    font-size: 15px
    width: 100%
    height: 40px
    border: none
    background: none
    position: relative
    border-bottom: 1px solid $c-0
    padding: 0
    padding-top: 12px
  &:first-child
    margin-right: 4%

@media screen and (min-width: 1025px)
  .b2-itm:hover
    &:after, &:before
      width: 100%

.b2-full
  width: 100%

.b2-boxright
  width: 456px
  background: $c-2
  box-sizing: border-box
  padding: 80px 65px
  margin-top: -65px

.b2-title-right
  margin-bottom: 35px
  h3
    color: $blanco
    font-family: $t-3
    font-size: 24px
    margin-bottom: 0

.b2-itemlist
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: center
  margin-bottom: 50px
  &:last-child
    margin-bottom: 0
  &:nth-child(2) .b2-list-icon
    font-size: 23px

.b2-list-icon
  width: 30px
  display: block
  color: $blanco
  font-size: 38px
  text-align: center

.b2-list-text
  width: calc(100% - 30px)
  line-height: 1.2
  color: $blanco
  font-family: t-0
  font-size: 16px
  box-sizing: border-box
  padding-left: 20px
  h3
    font-family: $t-2
    font-size: 18px
    margin-bottom: 15px
  p
    margin-bottom: 0

.b18map .cnt-map
  text-align: center
  .box-map
    width: 100%
    height: 400px
    position: relative
    transition: all 0.5s
  .map
    width: 100%
    height: 100%
  .abrir-map
    display: none
  .cerrar-map
    display: none
    position: absolute
    left: 10px
    bottom: 30px
    z-index: 100

@media screen and (max-width: 1024px)
  .b2 .wancho
    max-width: 880px
  .b2-banner-title
    width: calc(100% - 346px)
  .b2-main
    margin-bottom: 70px
  .b2-formulario
    width: calc(100% - 346px)
    padding-right: 60px
  .b2-boxright
    width: 346px
    padding: 60px 40px

@media screen and (max-width: 960px)
  .b2 .wancho
    width: 88%
  .b2-banner-title, .b2-formulario
    width: 100%
    padding-right: 0
  .b2-boxright
    display: none
  .b2-btn
    text-align: center

@media screen and (max-width: 767px)
  .b2-banner
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-end
    height: 150px
  .b2-banner-cnt
    padding-bottom: 30px
    &.wancho
      margin-top: 0
      margin-bottom: 0
  .b2-banner-imgtitle
    display: none
  .b2-banner-title
    display: block
    height: auto
    text-align: center
    position: static
    h2
      font-size: 26px
  .b2-main
    margin-bottom: 50px
  .b2-formulario
    padding-top: 30px
    ul
      margin-bottom: 45px
  .b2-text
    font-size: 15px
    margin-bottom: 20px
  .b2-btn .btn-enlace:before
    display: none
  .b18map
    .btn-enlace:before
      display: none
    .cnt-map
      position: relative
      z-index: 2000
      .abrir-map
        display: block
        background: $c-1
        color: $blanco
      .cerrar-map
        display: inline-block
        background: $c-1
        color: $blanco
      .box-map
        position: fixed
        top: -200%
        left: 0
        height: 100%
      .anima-map
        top: 0

@media screen and (max-width: 480px)
  .b2-itm
    width: 100%
    margin-bottom: 40px
    &:first-child
      margin-right: 0
    &:last-child
      margin-bottom: 0