.home
  position: relative
  .bx-controls
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    max-width: 1180px
    width: 95%
    height: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    margin: auto
  .bx-pager
    width: 40px
    padding-top: 0
    position: relative
    bottom: inherit
    z-index: 70
  .bx-pager-item
    display: block !important
    position: relative
    font-weight: normal
    margin: 30px 0px
    a
      display: inline-block !important
      width: 10px !important
      height: 10px !important
      line-height: 10px
      text-align: center
      background: #134f8e !important
      border-radius: 100% !important
      &.active
        .progress__value
          stroke-dasharray: 339.292
          stroke-dashoffset: 339.292
          animation: progress 6s forwards
        .progress
          opacity: 1
          visibility: visible

.homeitm
  width: 100vw
  height: 650px
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  position: relative
  &:before
    content: ''
    width: 100%
    height: 100%
    display: block
    position: absolute
    top: 0
    left: 0
    background: url("../img/capa-home1.png") 0px 0px no-repeat

.homecenter
  display: flex
  max-width: 1180px
  width: 95%
  margin: auto
  align-items: center
  justify-content: flex-start
  height: 100%
  position: relative
  z-index: 10
  box-sizing: border-box
  padding-top: 60px

.homeflex
  h2
    font-size: 65px
    color: #134f8e
    font-family: $t-4
    margin-bottom: 15px
  p
    color: #97959a
    font-size: 15px
    margin-bottom: 25px

.homebtn .btn-enlace
  background: transparent

@media screen and (min-width: 1025px)
  .homebtn .btn-enlace:hover
    background: $c-1

.desktop
  display: none

.svgloader
  width: 40px
  height: 40px
  position: absolute
  top: 0px
  left: 0px
  bottom: 0
  right: 0
  margin: auto
  display: block
  z-index: 200

.progress
  width: 40px
  height: 40px
  transform: rotate(-90deg)
  opacity: 0
  visibility: hidden
  display: block
  fill: none !important

.progress__value
  stroke: #134f8e
  display: block
  stroke-width: 5

.circlefill
  stroke-width: 5
  fill: none !important
  stroke: transparent

.homeblockdown
  width: 53.4375%
  margin-left: auto
  margin-right: 0
  position: relative

.homedown
  display: block
  width: 133px
  height: 156px
  background: #97959a
  text-align: center
  position: absolute
  bottom: -79px
  left: 0
  z-index: 120
  &:before
    content: ''
    display: block
    position: absolute
    top: 30px
    left: 0
    right: 0
    margin: auto
    width: 14px
    height: 32px
    background: url("../img/down1.png") 0px 0px no-repeat

@media screen and (max-width: 1024px)
  .homeflex h2
    font-size: 50px
  .homeitm
    height: 450px
  .home .bx-pager
    top: 30px
  .homecenter
    padding-right: 40px
    box-sizing: border-box

@media screen and (max-width: 960px)
  .homeblockdown
    display: none

@media screen and (max-width: 768px)
  .homeflex h2
    font-size: 35px
  .homeitm
    height: 350px

@media screen and (max-width: 767px)
  .homecenter
    padding-top: 0
  .homeflex h2
    font-size: 30px
  .homebtn .btn-enlace:before
    display: none

.home-information
  background: $c-7
  overflow: hidden

.homecontainer
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  align-items: center

.homectnimg
  width: 46.5625%

.homeimg
  width: 595px
  position: relative
  z-index: 10
  margin: 0
  margin-left: auto
  margin-right: -54px
  img
    display: block
    width: 100%
    height: auto

.home-cnt-info
  display: flex
  align-items: center
  width: 53.4375%
  min-height: 561px
  background: #97959a
  position: relative
  box-sizing: border-box
  padding-left: 115px

.homeboxinner
  position: relative
  h2
    display: flex
    align-items: center
    height: 200px
    color: #fff
    font-size: 28px
    font-weight: normal
    font-family: $t-1
    position: relative
    margin-bottom: 20px
    &:before
      content: ''
      display: block
      width: 175px
      height: 200px
      background: url("../img/s1.png") 0px 0px no-repeat
      position: absolute
      top: 0
      left: -10px

.hometxt
  line-height: 1.2
  color: #fff
  font-family: $t-0
  font-size: 18px
  margin-bottom: 40px
  p
    margin-bottom: 0

.homebtninfo .btn-enlace
  background: transparent
  color: $blanco
  border: 1px solid $blanco
  &:before
    background: $blanco

@media screen and (min-width: 1025px)
  .homebtninfo .btn-enlace:hover
    background: $blanco
    color: $c-1

@media screen and (max-width: 1200px)
  .homeimg
    width: 108%
  .home-cnt-info
    padding-right: 30px

@media screen and (max-width: 960px)
  .home-cnt-info
    width: 56%
    padding-left: 90px
  .homectnimg
    width: 44%

@media screen and (max-width: 767px)
  .homecontainer
    flex-direction: column
  .homeimg
    display: none
  .home-cnt-info
    min-height: inherit
    width: 100%
    padding-left: 0
    text-align: center
    padding: 30px 0
  .homeboxinner
    width: 95%
    margin-left: auto
    margin-right: auto
    h2
      height: auto
      font-size: 22px
      justify-content: center
      margin-bottom: 30px
      &:before
        display: none
        left: 0
        right: 0
        margin: auto
  .hometxt
    text-align: center
  .home-information
    position: relative
    z-index: 200
  .homebtninfo .btn-enlace:before
    display: none

.home-box
  background: $c-7 url("../img/detail-block-video.png") top right no-repeat

.homevideo
  max-width: 1354px
  width: 95%
  margin: auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start

.homeboxvideo
  width: 52%
  box-sizing: border-box
  padding-left: 2.7%
  padding-right: 9.3%
  padding-top: 10px
  padding-bottom: 50px

.homecontenido
  min-height: 120px
  position: relative
  padding-top: 60px
  padding-left: 85px
  margin-bottom: 35px
  h2
    font-size: 28px
    color: #134f8e
    font-family: $t-1
    margin-bottom: 15px
    font-weight: normal
  p
    font-size: 15px
    margin-bottom: 0

.homespan
  display: inline-block
  color: #134f8e
  font-size: 259px
  position: absolute
  font-family: $t-4
  top: 0
  left: -10px
  line-height: 144px
  opacity: 0.1

.homeinnervideo
  max-width: 537px
  width: 100%
  margin-left: 0
  margin-right: auto

.homeportadavideo
  display: block
  position: relative
  img
    display: block
    width: 100%
    height: auto
  &:before
    content: ""
    width: 100%
    height: 100%
    background: $c-3
    opacity: 0.8
    position: absolute
    top: 0
    left: 0
  &:after
    content: "\e90c"
    display: block
    width: 50px
    height: 50px
    line-height: 50px
    color: $c-1
    font-family: icomoon
    font-size: 48px
    text-align: center
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto

.homecnt2
  display: flex
  align-self: flex-end
  width: 48%
  margin-top: -70px
  position: relative
  z-index: 2
  img
    width: 100%
    height: auto
    display: block

@media screen and (max-width: 1024px)
  .homeboxvideo
    width: 54%
    padding-left: 0
    padding-right: 50px
  .homecnt2
    width: 46%

@media screen and (max-width: 960px)
  .home-box
    background: $c-7
  .homeboxvideo
    width: 56%
  .homecontenido
    padding-left: 30px
  .homecnt2
    width: 44%

@media screen and (max-width: 767px)
  .home-box
    padding: 30px 0
  .homeboxvideo
    width: 100%
    padding: 0
  .homeportadavideo:after
    font-size: 38px
  .homeinnervideo
    margin-left: auto
    margin-right: auto
  .homecontenido
    min-height: inherit
    text-align: center
    padding-top: 0
    padding-left: 0
    h2
      font-size: 22px
  .homespan
    line-height: 1
    font-family: $t-1
    font-size: 28px
    position: static
    opacity: 1
  .homecnt2
    display: none

.homebody
  width: 100%
  height: 508px
  display: flex
  justify-content: center
  text-align: center
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  position: relative
  &:before
    content: ''
    display: block
    width: 100%
    height: 100%
    background: #134f8e
    opacity: 0.9
    position: absolute
    top: 0
    left: 0

.homecenterflex
  position: relative
  color: #fff
  font-size: 15px
  padding-top: 140px
  h2
    font-family: $t-1
    font-weight: normal
    font-size: 28px
    margin-bottom: 15px
  p
    margin-bottom: 0
  &:before
    content: ''
    display: block
    width: 175px
    height: 200px
    background: url("../img/s1.png") 0px 0px no-repeat
    position: absolute
    top: 90px
    left: 0
    right: 0
    margin: auto

.hometxt
  h2
    font-size: 28px
    font-family: $t-1
    font-weight: normal
  p
    font-size: 15px

.homeitems
  display: flex
  max-width: 1080px
  width: 95%
  margin: auto
  align-items: flex-start
  text-align: center
  margin-top: -120px
  position: relative
  padding-bottom: 55px
  flex-wrap: wrap
  justify-content: center
  text-align: center

.homeitminner
  width: 22.2%
  margin-left: 5.5%
  margin-right: 5.5%
  &:nth-child(2)
    margin-top: -60px
  h2
    color: #01afc8
    font-size: 20px
    font-weight: normal
    font-family: $t-1
    margin-bottom: 25px
  p
    font-size: 15px
  &:hover .home--capa
    opacity: 1
    visibility: visible

.homeimgsluc
  position: relative
  margin-bottom: 35px
  img
    display: block
    width: 100%
    height: auto

.home--capa
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  display: block
  opacity: 0
  visibility: hidden
  transition: all 0.4s
  &:before
    content: ''
    background: #92999f
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: block
    opacity: 0.8

.a-home
  width: 100%
  font-size: 20px
  color: #fff
  height: 25px
  position: absolute
  top: 0
  bottom: 0
  margin: auto
  text-align: center
  display: block
  z-index: 10

@media screen and (max-width: 1024px)
  .homeitems
    margin-top: -10%
  .homeitminner
    width: 25.3%
    margin-left: 4%
    margin-right: 4%
    &:nth-child(2)
      margin-top: -5%

@media screen and (max-width: 767px)
  .homecenterflex
    padding-top: 60px
    padding-bottom: 110px
    &:before
      display: none
      top: 30px
  .homebody
    height: auto
  .homeitems
    padding-bottom: 0
  .homeitminner
    width: 34%
    margin-left: 6%
    margin-right: 6%
    margin-bottom: 30px
    &:nth-child(2)
      margin-top: 0

@media screen and (max-width: 480px)
  .homeitems
    padding-bottom: 30px
  .homeitminner
    max-width: 240px
    width: 100%
    &:last-child
      margin-bottom: 0

.homelogos
  background: #f9f9fa
  padding-top: 45px
  padding-bottom: 28px

.homecenterlg
  max-width: 1206px
  width: 95%
  margin: auto
  text-align: center
  h2
    font-size: 28px
    color: #134f8e
    font-weight: normal
    font-family: t-1
    margin-bottom: 0

.homeslidlog
  ul
    font-size: 0
  li
    padding-top: 30px
    margin-left: 42px
    margin-right: 42px
  img
    display: block
    width: 100%
    height: auto
  &.no-slide li
    display: inline-block
    vertical-align: top
    width: 117px
    margin-left: 42px
    margin-right: 42px

@media screen and (max-width: 960px)
  .homeslidlog li
    margin-left: 30px
    margin-right: 30px

@media screen and (max-width: 767px)
  .homelogos
    padding-top: 30px
  .homecenterlg h2
    font-size: 22px

@media screen and (max-width: 640px)
  .homeslidlog li
    margin-left: 20px
    margin-right: 20px

.home-inner
  padding: 45px 0

.homeblock
  max-width: 1060px
  width: 95%
  margin: auto
  text-align: center
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: flex-start

.homeblog
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-content: center
  width: 47%
  height: 186px
  position: relative
  text-align: left
  box-sizing: border-box
  padding-left: 85px
  padding-right: 30px
  h2
    width: 100%
    color: #134f8e
    font-size: 28px
    font-family: $t-1
    font-weight: normal
  p
    width: 100%
    font-size: 15px

.homeright
  width: 53%
  text-align: left
  h3
    font-size: 18px
    color: #134f8e
    font-weight: normal
    font-family: $t-2
  h2
    font-weight: normal
    font-size: 28px
    font-family: $t-1
    color: #134f8e
  p
    font-size: 15px
    margin-bottom: 20px

.homerightbtn
  font-size: 0

.home-m
  display: block
  width: 204px
  height: 186px
  background: url("../img/block6-imgtext.png") 0 0 no-repeat
  position: absolute
  top: 0
  left: 0

@media screen and (max-width: 960px)
  .homeblog
    padding-left: 20px

@media screen and (max-width: 767px)
  .home-inner
    padding: 30px 0
  .homeblock
    flex-direction: column
  .homeblog
    height: auto
    h2
      font-size: 22px
    width: 100%
    text-align: center
  .homeright
    width: 100%
    text-align: center
    margin-top: 30px
  .home-m
    display: none
  .homeright h2
    font-size: 22px
  .homerightbtn .btn-enlace:before
    display: none

@-moz-keyframes progress
  from
    stroke-dashoffset: 339.292
  to
    stroke-dashoffset: 0
@-webkit-keyframes progress
  from
    stroke-dashoffset: 339.292
  to
    stroke-dashoffset: 0
@-o-keyframes progress
  from
    stroke-dashoffset: 339.292
  to
    stroke-dashoffset: 0
@keyframes progress
  from
    stroke-dashoffset: 339.292
  to
    stroke-dashoffset: 0