.ctn-nosotros-one-ctn
	position: relative
.nosotros-title
	color: $c-8
	.solution-text
		margin-left: 0
		padding: 95px 0
		box-sizing: border-box
	.solution-title-prin
		position: absolute
		top: 0
		left: 0
.nosotros-parraf
	margin: 45px 0 0 0
	p
		margin: 0 0 55px 0
		font-size: 18px
		line-height: 1.3
		color: $c-6
.ctn-nosotros-img
	margin: 100px 0 0 0
	figure
		margin: 0
		position: relative
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: linear-gradient(to right, rgba(0,70,135,0.6) 0%, rgba(0,161,194,0.2) 70%)
.ctn-nosotros-two
	padding-left: 40px
	box-sizing: border-box
	margin-top: -85px
.ctn-mv-prin
	h4
		color: $blanco
		font-weight: normal
		font-size: 55px
		opacity: .2
		font-family: $t-4
		margin: 0
	p 
		color: $blanco
		font-size: 15px
		line-height: 1.4
		margin: 17px 0 0 0
.mision
	background: $c-4
	padding: 45px 30px 60px 30px
.vision
	background: $c-8
	padding: 45px 30px 60px 30px
.ctn-nosotros-three
	padding: 30px 0 0 0
	box-sizing: border-box
.ctn-valors-title
	text-align: center
	h5
		font-family: $t-1
		font-size: 28px
		font-weight: normal
		color: $c-8
.ctn-items-valors
	padding-top: 57px
.item-nosotros
	max-width: 220px
	color: $c-4
	text-align: center
	margin: auto
	h6
		font-weight: normal
		font-size: 18px
		font-family: $t-2
		text-transform: uppercase
		margin: 35px 0 15px 0
	p 	
		margin: 0
		color: $c-6
		font-size: 14px
		line-height: 1.2
	span
		font-size: 65px
.ctn-nosotros-four
	padding-top: 125px
	box-sizing: border-box
	.solution-title
		align-items: flex-end
		margin-top: -105px
		margin-left: -10px
	.solution-text
		position: relative
		top: -60px
.ctn-tests
	background: $c-7
	position: relative
	padding-bottom: 110px
	&:before
		content: ""
		position: absolute
		top: 0
		left: -40%
		width: 40%
		height: 100%
		background: $c-7
.test-img
	position: absolute
	top: -45px
	right: -120px
	figure
		max-width: 517px
		margin: 0
.slider-test
	margin: 40px 0 0 0
	ul
		margin: 0
		padding: 0
		list-style: none
	li
		margin: 0
.test-parraf
	position: relative
	padding: 30px 55px 0 55px 
	box-sizing: border-box
	p 
		color: $c-6
		line-height: 1.3
		font-size: 17px
		margin: 0
	h4
		color: $c-8
		font-size: 18px
		line-height: 1.3
		font-weight: normal
		margin: 30px 0 0 0
		font-family: $t-1
	&:before, &:after
		content: "\e909"
		position: absolute
		font-family: icomoon
		color: $c-3
		font-size: 36px
	&:before
		top: 0
		left: 0
	&:after
		right: 0
		bottom: 18px
		transform: rotate(180deg)
.ctn-nosotros-carrousel
	padding: 65px 0 35px 0
	box-sizing: border-box	
	ul
		list-style: none
		margin: 0
		padding: 0
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	li
		margin: 0
