.solutions-tech
	position: relative
.gris
	background: $c-7
	height: 170px
	width: 100%
	position: absolute
	top: 0
	left: 0
.solution-title
	display: flex
	align-items: center
	color: $c-8
.solution-title-prin
	text-transform: uppercase
	font-family: $t-4
	font-size: 260px
	line-height: .83
	opacity: .1
	display: block
	margin: 0
.solution-text
	margin-left: -80px
	h3
		font-weight: normal
		font-size: 28px
		font-family: $t-1
		margin: 0
	p 
		margin: 0
.solution-parraf
	margin: 45px 0 0 0
	p
		margin: 0
		font-size: 18px
		line-height: 1.3
		color: $c-6
.solution-ctn-img
	margin: 40px 0 0 0
	display: flex
	justify-content: center
	figure
		width: 137px
		margin: 0 20% 0 0
		&:last-child
			margin-right: 0
.solution-tech-img
	margin-top: 100px
	figure
		margin: 0
		max-width:  508px
		position: relative
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: linear-gradient(to right, rgba(0,70,135,0.6) 0%, rgba(0,161,194,0.2) 70%)
.solutions-ben-ctm
	padding-top: 120px
.solution-ben
	background: $c-3
	padding: 0 0 50px 0
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		background: $c-3
		width: 20%
		right: -20%
		height: 100%
	&.active
		.solution-ben-icons li
			opacity: 1
.solution-ben-img
	position: absolute
	top: -80px
	left: -150px
	figure
		margin: 0
.solution-ben-ctn
	margin-top: -95px
	padding-right: 30px
	.solution-title
		margin-left: -20px
	.solution-text
		margin: 60px 0 0 -190px
.solution-ben-parraf
	margin-top: 30px
	p
		color: $blanco
		font-size: 18px
		margin: 0
		line-height: 1.3
.solution-ben-icons
	margin-top: 30px
	ul
		list-style: none
		margin-bottom: 0
		padding: 0
	h4
		color: $c-1
		font-size: 12px
		font-weight: normal
	li
		text-align: center
		opacity: 0
		transition: all .6s ease-in-out
		&:nth-child(2)
			transition-delay: .3s
		&:last-child
			transition-delay: .6s
.solution-prin-slider
	padding-bottom: 70px
	position: relative
	ul
		margin: 0
		padding: 0
		list-style: none
	.solution-title
		display: block
		position: relative
		padding: 100px 0 30px 0 
	.solution-title-prin
		position: absolute
		top: 0
		left: 0
		text-align: center
		display: block
		width: 100%
	.solution-text
		margin-left: 0
		width: 100%
		text-align: center
		position: relative
		z-index: 2
		p
			font-size: 15px
			line-height: 1.3
			margin: 13px auto 0 auto
			max-width: 450px
	.slick-slide
		margin-right: 6px
	.slick-prev, .slick-next
		width: 140px
		height: 35px
		border: 1px solid red
.solution-ctn-slider
	margin: 60px 0 0 0
	position: relative
.slider-img
	max-width: 411px
	position: relative
	&:before
		background: url('../img/bg-slider-img.png') no-repeat
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 2
.slider-title
	position: absolute
	color: $blanco
	bottom: 30px
	left: 0
	z-index: 2
	padding: 0 25px
	box-sizing: border-box
	transition: all .3s ease-in-out
	h4
		font-size: 20px
		font-weight: normal
		text-transform: uppercase
		font-family: $t-1
.info-slider
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(146, 153, 159, .9)
	display: flex
	flex-wrap: wrap
	align-items: center
	text-align: center
	padding: 0 10px
	box-sizing: border-box
	opacity: 0
	transition: all .5s ease-in-out
.info-slider-ctn
	width: 100%
	max-width: 230px
	margin: auto
	h5
		color: $blanco
		font-weight: normal
		font-size: 24px
		line-height: 1.3
	.btn-enlace
		border: 1px solid $blanco
		background: none
		color: $blanco
		&:before
			background: $blanco
.btn-arrow-prev, .btn-arrow-next
	width: 140px
	height: 42px
	position: absolute
	top: 0
	bottom: 0
	margin: auto
	cursor: pointer
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		background: $c-8
		height: 1px
		width: 90px
	span
		height: 40px
		width: 40px
		border: 1px solid $c-8
		border-radius: 100%
		position: absolute
		top: 0
		color: $c-8
		font-size: 20px
		text-align: center
		line-height: 40px
	
.btn-arrow-prev
	left: -195px
	&:before
		right: 0
	span
		left: 0
.btn-arrow-next
	right: -195px
	&:before
		left: 0
	span
		right: 0
.modal-overlay-solucion.modal-dialog
	max-width: 1040px
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	margin: auto
	height: 480px
	.modal-content
		padding: 60px 15px
		box-sizing: border-box
	.close
		position: absolute
		top: 30px
		right: 40px
		color: #134f8e
		height: 50px
		width: 50px
		opacity: 1
		&:before
			content: "\e912"
			position: absolute
			top: 0
			left: 0
			font-size: 47px
			font-family: icomoon
		&:after
			content: "\e605"
			position: absolute
			top: -3px
			bottom: 0
			height: 25px
			right: 0
			margin: auto
			left: -3px
			font-size: 25px
			font-family: icomoon
.ctn-modal
	width: 100%
	max-width: 920px
	display: flex
	justify-content: space-between
	margin: auto
	align-items: center
.ctn-img
	width: 44%
	img 
		display: block
.ctn-info
	width: 50%
	h3
		font-weight: normal
		font-family: $t-1
		color: $c-8
		margin: 0
		font-size: 24px
	p 
		margin: 25px 0 0 0
		font-size: 16px
		line-height: 20px
		overflow: auto
		max-height: 356px
@media screen and (min-width: 1025px)
	.slider-img:hover
		.info-slider
			opacity: 1
			z-index: 3
		.slider-title
			opacity: 0
		&:before
			opacity: 0
		.btn-enlace:hover:before
			right: -85px
@media (min-width: 768px) and (max-width: 1400px)
	.solution-ben-info, .solution-ben-img
		max-width: 100%
	.solution-ben-img
		order: 2
@media screen and (max-width: 1580px)
	.solution-ben
		&:before
			width: 10%
			right: -10%
@media screen and (max-width: 1400px)
	.solution-ben
		&:before
			display: none
	.solution-ben-ctn 
		padding-left: 30px
		.solution-text
			margin-left: -100px
	.solution-ben-img
		margin-top: 30px
		position: inherit
		figure
			padding: 0 30px
			box-sizing: border-box
@media screen and (max-width: 1024px)
	.solutions-ben-ctm
		padding-top: 70px
	.info-slider
		opacity: 1
@media screen and (max-width: 767px)
	.solution-ctn-img
		margin-top: 30px
		figure
			margin-right: 30px
	.solution-tech-img
		margin-top: 30px
		figure
			margin: auto
	.solution-parraf
		margin-top: 30px
		p
			font-size: 15px
	.solution-ben-ctn
		padding: 0 25px
	.solution-ben-img 
		figure
			display: none
			padding: 0 15px
	.solution-parraf p
		font-size: 15px
	.solution-tech-img
		display: none
	.solution-ctn-slider
		margin: 30px 0 0 0
	.gris
		display: none
	.solution-title-prin
		font-size: 160px
	.solution-text
		h3
			font-size: 22px
	.solution-prin-slider 
		.solution-title
			padding: 50px 0 0 0
@media screen and (max-width: 480px)
	.solution-ctn-img
		figure
			width: 90px
	.slider-title
		z-index: 3
		h4
			font-size: 16px
	.info-slider
		z-index: 2
	.info-slider-ctn
		h5
			font-size: 20px