
.solutions
	padding-bottom: 55px
	article, figure
		margin: 0
	img
		display: block
		width: 100%
		height: auto
	.banner
		background: $c-5
	.banner-content
		max-width: 1140px
		width: 95%
		margin: auto
	.banner-textarea
		width: 665px / 1140px * 100%
	.banner-title
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: flex-end
		height: 175px
		box-sizing: border-box
		padding-bottom: 25px
		h2
			color: $c-1
			font-family: $t-1
			font-size: 28px
			margin-bottom: 0
	.main
		margin-top: -65px
	.block
		margin-bottom: 40px
		&:last-child
			margin-bottom: 0
		&:nth-child(odd)
			.textarea
				padding-top: 140px
				padding-left: 160px
				padding-right: 60px
		&:nth-child(even)
			.content
				flex-direction: row-reverse
			.textarea
				padding-top: 80px
				padding-left: 215px
	.content
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: flex-start
		max-width: 1230px
		width: 95%
		margin: auto
	.textarea
		min-height: 120px
		width: $textarea / $width * $porcentaje
		position: relative
		box-sizing: border-box
		padding-top: 180px
	.title
		position: relative
		padding-top: 40px
		margin-bottom: 25px
		h2
			color: $c-4
			font-family: $t-1
			font-weight: normal
			font-size: 24px
			margin-bottom: 0
	.number
		line-height: 117px
		color: $c-1
		font-family: $t-3
		font-size: 164px
		opacity: .1
		position: absolute
		top: 0
		left: -145px
	.img
		width: $img / $width * $porcentaje

@media screen and (max-width: 1024px)
	.solutions 
		.banner-title
			h2
				font-size: 25px
		.block
			&:nth-child(odd) 
				.textarea
					padding-top: 115px
					padding-left: 105px
					padding-right: 30px
			&:nth-child(even)
				.textarea
					padding-top: 50px
					padding-left: 140px
		.textarea
			width: 60%
		.title
			padding-top: 20px
			margin-bottom: 15px
		.number
			line-height: 90px
			font-size: 120px
			left: -110px
		.img
			width: 40%

@media screen and (max-width: 767px)
	.solutions
		padding-bottom: 30px
		.banner-textarea
			width: 100%
		.banner-title
			height: 150px
			h2
				font-size: 22px
		.main
			padding-top: 30px
			margin-top: 0
		.block
			margin-bottom: 50px
			&:nth-child(odd)
				.textarea
					padding-top: 0
					padding-left: 0
					padding-right: 0
			&:nth-child(even)
				.textarea
					padding-top: 0
					padding-left: 0
		.content
			flex-direction: column
			max-width: 620px
		.textarea
			width: 100%
			text-align: center
			margin-bottom: 30px
		.title
			padding-top: 20px
			margin-bottom: 10px
		.number
			line-height: 70px
			font-size: 90px
			left: 0
			right: 0
			margin: auto
		.btn-enlace:before
			display: none			
		.img
			max-width: 285px
			width: 100%
			margin-left: auto
			margin-right: auto