// FONTS
// -----

@font-face
  font-family: 'Montserrat-Light'
  src: url('../fonts/Montserrat-Light.eot')
  src: url('../fonts/Montserrat-Light.woff2') format("woff2"), url('../fonts/Montserrat-Light.woff') format("woff"), url('../fonts/Montserrat-Light.ttf') format("truetype"), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format("svg"), url('../fonts/Montserrat-Light.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Montserrat-Regular'
  src: url('../fonts/Montserrat-Regular.eot')
  src: url('../fonts/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat-Regular.woff') format("woff"), url('../fonts/Montserrat-Regular.ttf') format("truetype"), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format("svg"), url('../fonts/Montserrat-Regular.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Montserrat-Medium'
  src: url('../fonts/Montserrat-Medium.eot')
  src: url('../fonts/Montserrat-Medium.woff2') format("woff2"), url('../fonts/Montserrat-Medium.woff') format("woff"), url('../fonts/Montserrat-Medium.ttf') format("truetype"), url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format("svg"), url('../fonts/Montserrat-Medium.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Montserrat-SemiBold'
  src: url('../fonts/Montserrat-SemiBold.eot')
  src: url('../fonts/Montserrat-SemiBold.woff2') format("woff2"), url('../fonts/Montserrat-SemiBold.woff') format("woff"), url('../fonts/Montserrat-SemiBold.ttf') format("truetype"), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format("svg"), url('../fonts/Montserrat-SemiBold.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Montserrat-Bold'
  src: url('../fonts/Montserrat-Bold.eot')
  src: url('../fonts/Montserrat-Bold.woff2') format("woff2"), url('../fonts/Montserrat-Bold.woff') format("woff"), url('../fonts/Montserrat-Bold.ttf') format("truetype"), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format("svg"), url('../fonts/Montserrat-Bold.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sansregular'
  src: url('../fonts/opensans-regular-webfont.eot')
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/opensans-regular-webfont.woff2') format("woff2"), url('../fonts/opensans-regular-webfont.woff') format("woff"), url('../fonts/opensans-regular-webfont.ttf') format("truetype"), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'OpenSans-ExtraBold'
  src: url('../fonts/OpenSans-ExtraBold.eot')
  src: url('../fonts/OpenSans-ExtraBold.woff2') format("woff2"), url('../fonts/OpenSans-Extrabold.woff') format("woff"), url('../fonts/OpenSans-Extrabold.ttf') format("truetype"), url('../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format("svg"), url('../fonts/OpenSans-ExtraBold.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal