// BUTTONS
// -------
.btn-enlace
  color: $c-1
  padding: 0 65px
  border: 1px solid $c-1
  font-size: 15px
  display: inline-block
  background: $blanco
  height: 46px
  line-height: 43px
  position: relative
  transition: all 0.6s ease 0.3s
  cursor: pointer
  span
    position: relative
    z-index: 2
  &:before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    margin: auto
    right: -85px
    width: 115px
    height: 1px
    background: $c-1
    transition: all 0.6s ease-in-out

@media screen and (min-width: 1025px)
  .btn-enlace:hover
    color: $blanco
    text-decoration: none
    background: $c-1
    &:before
      right: 0